<form>
   
<div class="qo qw">
      <div class="qq">
        <h3 class="qr">Find patient</h3>
      </div>
   <div class="qp">
      <div class="fu">
      <div class="gr">
   
		    <div class="el">
			    <label class="ga ex" for="patientName">Name/ID</label>
			    <div class="hg">
			     <input type="text" class="form-control" id="patientName" placeholder="Enter Name or ID or Identification code" />
			    </div>
		    </div>
		</div>
      <div class="gr"> 
            <button type="submit" class="ce fh">SEARCH</button>
      </div>
      </div>
    </div>
</div>

</form>