<form class="fc">
  <div class="el">
    <label for="inputEmail3" class="ga ex">Email</label>
    <div class="hg">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" />
    </div>
  </div>
  <div class="el">
    <label for="inputPassword3" class="ga ex">Password</label>
    <div class="hg">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" />
    </div>
  </div>
  <div class="el">
    <div class="kp hg">
      <div class="en">
        <label>
          <input type="checkbox" /> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="el">
    <div class="kp hg">
      <button type="submit" class="ce fe">Sign in</button>
    </div>
  </div>
</form>